<section class="w-100 d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="card border-0 rounded-0 w-50 mx-auto">
            <div class="card-body py-5 px-md-5">
                <span class="font-frenia fs-2 w-100">Editar Información</span>
                <form [formGroup]="form" (ngSubmit)="onSubmit()" class="d-flex flex-column gap-3 mt-4">
                    <div class="input-custom">
                        <input type="text" class="input" placeholder="Nombre de la empresa" formControlName="empresa">
                        <button class="buttom-custom" type="button">Empresa</button>
                    </div>

                    <div class="input-custom">
                        <input type="text" class="input" placeholder="Sitio web de la empresa"
                            formControlName="website">
                        <button class="buttom-custom" type="button">Website</button>
                    </div>
                    
                    <div class="container-input">
                        <div class="input-custom">
                            <input placeholder="Usuario" type="text" class="input" formControlName="usuario">
                            <button class="buttom-custom" type="button">Usuario</button>
                        </div>
                    </div>
                    <div>
                        <div class="input-custom">
                            <input placeholder="Contraseña" type="text" class="input" formControlName="contrasena">
                            <button class="buttom-custom" type="button">Contraseña</button>
                        </div>
                    </div>
                    <div class="row row-cols-1">
                        <div>
                            <button type="submit" class="btn w-100 btn-dark rounded-4">
                                @if (loading()) {
                                    <div class="spinner-border spinner-border-sm">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                } @else {
                                    <span class="small">Editar</span>
                                }
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>