<section class="w-100 vh-100 bg-light">
    <div class="container-fluid">
        <div class="row vh-100 d-flex justify-content-center align-items-center">
            <div class="col-12">
                <div class="card rounded-0 border-0 text-black bg-light">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body mx-3 mx-md-2">
                                <div class="text-center">
                                    <img src="/assets/image/logo.png" style="width: 150px;" alt="logo">
                                    <span class="mb-5 fs-1 d-block font-frenia text-dark-emphasis">Datos
                                        Requeridos</span>
                                </div>
                                <form [formGroup]="form" (ngSubmit)="onSubmit()" class="d-flex flex-column gap-5">
                                    <div class="row row-cols-2">
                                        <div class="container-input">
                                            <div class="input-custom">
                                                <input placeholder="Nombres completos" type="text" class="input" formControlName="nombres">
                                                <button class="buttom-custom" type="button">Nombres</button>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="input-custom">
                                                <input placeholder="Apellidos completos" type="text" class="input" formControlName="apellidos">
                                                <button class="buttom-custom" type="button">Apellidos</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-cols-2">
                                        <div class="container-input">
                                            <div class="input-custom">
                                                <select class="input" formControlName="semestre">
                                                    <option value="" hidden selected>Seleccionar semestre</option>
                                                    @for (item of _semestreService.semestres; track $index) {
                                                        <option [value]="item.id">{{ item.value }}</option>
                                                    }
                                                </select>
                                                <button class="buttom-custom" type="button">Semestre</button>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="input-custom">
                                                <input placeholder="Correo Institucional" type="email" class="input" formControlName="correo">
                                                <button class="buttom-custom" type="button">Correo</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-cols-2">
                                        <div class="container-input">
                                            <div class="input-custom">
                                                <input placeholder="Usuario" type="text" class="input" formControlName="usuario">
                                                <button class="buttom-custom" type="button">Usuario</button>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="input-custom">
                                                <input placeholder="Contraseña" type="password" class="input" formControlName="contrasena">
                                                <button class="buttom-custom" type="button">Contraseña</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-cols-2">
                                        <div>
                                            <button type="button" class="btn w-100 btn btn-outline-danger rounded-4" routerLink="/home">
                                                <span class="small">Regresar</span>
                                            </button>
                                        </div>
                                        <div>
                                            <button type="submit" class="btn w-100 btn-dark rounded-4">
                                                @if (loading()) {
                                                    <div class="spinner-border spinner-border-sm">
                                                        <span class="visually-hidden">Loading...</span>
                                                    </div>
                                                } @else {
                                                    <span class="small">Registrarse</span>
                                                }
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 vh-100 d-flex align-items-center gradient-custom-2">
                            <div class="text-white px-3 py-5 p-md-5 mx-md-4 animated-text">
                                <span class="text-effect mb-4 font-frenia text-dark">¡Haz que tu voto cuente!</span>
                                <p class="small mb-0 mt-4 text-dark">Completa el formulario para registrarte como estudiante y
                                    participar en nuestras actividades. Asegúrate de llenar todos los campos requeridos
                                    para que podamos procesar tu inscripción de manera efectiva.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>