.gradient-custom-2 {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4), 0 0 10px rgba(255, 255, 255, 0.687);
    background: linear-gradient(to right,
            #b131806c,
            #a22a746c,
            #dd36c7b9,
            #b44589d1);
}

.animated-text {
    animation: fadeInUp 1s ease-in-out;
}

.animated-text span {
    font-size: 80px;
}

.animated-text p {
    font-size: 15px;
    padding-right: 55px;
}

.text-effect {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4), 0 0 10px rgba(255, 255, 255, 0.687);
}