<section>
    <div class="text-center">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 mx-auto animated-text p-0">
                    <h1 class="mt-5 mb-4 display-3 font-frenia text-effect">
                        ¡Lamentamos verte partir! <br />
                        <span class="display-5 text-custom-pink">Entendemos tu decisión y la respetamos.</span>
                    </h1>
                    <p>
                        Apreciamos profundamente tu apoyo y el impacto positivo que has tenido como patrocinador. Al
                        proceder con la eliminación de tu cuenta se eliminaran los premios registrados, queremos agradecerte por tu
                        contribución a nuestra comunidad. Si en el futuro decides regresar, siempre serás bienvenido.
                    </p>
                    <button type="submit" class="btn w-50 btn-danger rounded-4" (click)="openDelete()">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</section>