<div class="card rounded-0 border-0 overflow-hidden bg-white">
    <div class="bg-white p-4">
        <div class="image d-flex mx-auto bg-custom-purple justify-content-center align-items-center rounded-circle">
            <i class="bi bi-exclamation-triangle-fill text-danger"></i>
        </div>
        <div class="content mt-2 text-center">
            <span class="title">Confirmar Acción</span>
            <p class="message">
                ¿Estás seguro de que deseas proceder con esta acción? Todos los datos, así como los datos asociados a esta cuenta, serán eliminados de manera permanente. Esta acción no se puede deshacer.
            </p>
        </div> 
        <div class="mt-4">
            <button class="desactivate bg-danger py-1 small" type="button" (click)="onSubmit()">Confirmar</button>
        </div>
    </div>
</div>