<section>
    <div class="text-center">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 mx-auto animated-text p-0">
                    <h1 class="mt-5 mb-4 display-3 font-frenia text-effect">
                        ¡Nos entristece tu partida! <br />
                        <span class="display-5 text-custom-pink">Respetamos tu decisión y te apoyamos.</span>
                    </h1>
                    <p>
                        Apreciamos profundamente tu participación como candidata a reina de facultad. Al proceder con la eliminación de tu cuenta, también se eliminará tu candidatura. Queremos agradecerte por tu tiempo, esfuerzo y contribución a la comunidad. Si en el futuro decides regresar, siempre serás bienvenida.
                    </p>
                    <button type="submit" class="btn w-50 btn-danger rounded-4" (click)="openDelete()">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</section>